/* CSS RESET */
/* Box sizing rules */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
    margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
    list-style: none;
}

/* Set core root defaults */
html:focus-within {
    scroll-behavior: smooth;
}

/* Set core body defaults */
body {
    min-height: 100vh;
    text-rendering: optimizeSpeed;
    line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
    text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
    max-width: 100%;
    display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
    font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
    html:focus-within {
        scroll-behavior: auto;
    }
  
    *,
    *::before,
    *::after {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}

/* Global styles */
:root {
    /* layout */
    --device__width-mobile: 375px;
    --device__width-desktop: 1440px;
    
    /* color */
    --color__primary-1: hsl(25, 97%, 53%); /* Orange */
    --color__neutral-1: hsl(0, 0%, 100%); /* White */
    --color__neutral-2: hsl(217, 12%, 63%); /* Light Grey */
    --color__neutral-3: hsl(216, 12%, 54%); /* Medium Grey */
    --color__neutral-4: hsl(213, 19%, 18%); /* Dark Blue */
    --color__neutral-5: hsl(216, 12%, 8%); /* Very Dark Blue */
    
    /* typography */
    --font__size: 15px;
    --font__weight-dflt: 400;
    --font__weight-bold: 700;
    --text__align: start;
}

* {
    text-align: var(--text__align);
}

:not(h1):not(h2):not(h3):not(h4) {
    font-size: var(--font__size);
}

html {
    font-family: 'Overpass', sans-serif;
    font-size: var(--font__size, 100%);
    font-weight: var(--font__weight-dflt);
}

body {
    line-height: 1.75;
    color: var(--text__color-primary, var(--color__neutral-5));
    background: var(--background__color-primary, var(--color__neutral-1));
}

p {
    margin-bottom: 1rem;
}

a {
    color: var(--text__color-secondary, var(--color__primary-1));
}

h1, h2, h3, h4, h5 {
    margin: 3rem 0 1.38rem;
    font-weight: 700;
    line-height: 1.3;
}

h1 {
    margin-top: 0;
    font-size: 3.052rem;
}

h2 {
    font-size: 2.441rem;
}

h3 {
    font-size: 1.953rem;
}

h4 {
    font-size: 1.563rem;
}

h5 {
    font-size: 1.25rem;
}

small, .text_small {
    font-size: 0.8rem;
}

/* Composition */


/* Utilities */


/* Block */
.attribution { 
    --text__color-secondary: hsl(228, 45%, 44%);
    --font__size: 11px;
    --text__align: center;
}



/* Exceptions */